body {
  padding: 0;
  margin: 0;   
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

/*MENU*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nadpis {
  position: relative;
  top: 0%;
  font-size: 2.2em;
}

.nadpis2 {
  position: relative;
  top: -9%;
  font-size: 1.2em;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 2;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
#menuCreateGame {
  background-color: gold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  width: 70%;

}
#menuJoinGame {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  width: 70%;
}

#menuAbout {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  width: 70%;
}

#menuExit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  width: 70%;
}
/*/MENU*/

.clear {clear: both;}

#board {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

h1 {text-align: center;}

/* Cards class, not winning*/
.cards {
  width: 60px;
  height: 60px;
  background: black;
	margin: 1px;
	float: left;
	cursor: pointer;
	font-size: 40px;
	text-align: center;
}

/* Winning class*/
.win {
  width: 60px;
  height: 60px;
  /*
  background: pink;
  */
	margin: 1px;
	float: left;
	cursor: pointer;
	font-size: 40px;
	text-align: center;
}


/*
#board { width: calc(12 * 24px); margin: auto; }

#board div { background-color: black; border: 0.7px solid #d7d7d7; box-sizing: border-box; float: left; width: 24px; height: 24px; }
*/

/*Info*/
#infos {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  top:0;
  display: none;
  justify-content: center;
  align-items: center;
}
#outputinfos{
  font-size:4em;
  text-align: center;
  color:red;
}
